.myButton {
  margin-left: 10px;
  margin-right: 10px;
}

.page {
  margin: 10px 10px 10px 10px;
}

.verticalSpacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.centeredContainer {
  text-align: center;
}
